<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/stylesheet.css">

    <script src="js/code.js"></script>

</head>
<body>

<h1>review details</h1>

<div th:include="fragments/review.html"></div>

<form th:method="delete">
    <p class="submit"><input type="submit" value="Delete"></p>
</form>

<a th:href="@{/editReview/{id}(id = ${review.id})}"><button>edit</button></a>

</body>

</html>