<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div th:include="fragments/homeButton.html"></div>

<h1 class="font">review details</h1>

<h2 class="font"><strong>Score:</strong>
    <span th:each="starNumber : ${#numbers.sequence(1, 5)}">
        <span th:if="${score >= starNumber}" class="yellow-star">&#9733;</span>
        <span th:unless="${score >= starNumber}" class="grey-star">&#9733;</span>
    </span>
</h2>

<h2 class="font"><strong>Content:<br/></strong></h2>
<div class="square-container">
    <p class="bigger-font"><span th:text="${review.content}"></span></p>
</div>

<div class="review-buttons">
    <form class="button-style" th:method="delete">
        <p class="submit"><input class="cancel-button" type="submit" value="delete"></p>
    </form>

    <a th:href="@{/editReview/{id}(id = ${review.id})}">
        <button class="submit-button">edit</button>
    </a>
</div>

</body>

</html>