<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <script src="/js/script.js"></script>

    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>

<div th:include="fragments/homeButton.html"></div>

<h2 class="font">write a review for <span th:text="${bookTitle}"></span></h2>

<form action="#" th:action="@{/writeReview/{id}(id=${review.book.id})}" th:object="${review}" method="post">
    <p class="bigger-font">Score: <br/>
        <span class="star" onclick="setRating(1)">&#9733;</span>
        <span class="star" onclick="setRating(2)">&#9733;</span>
        <span class="star" onclick="setRating(3)">&#9733;</span>
        <span class="star" onclick="setRating(4)">&#9733;</span>
        <span class="star" onclick="setRating(5)">&#9733;</span>
        <input type="hidden" id="rating" name="score" th:value="*{score}"/>
    </p>
    <p class="bigger-font">Content: <br/><input type="text" th:field="*{content}" class="review-content"/></p>

    <div class="button-container">
        <input type="submit" value="submit" class="submit-button"/>
        <a href="/" class="cancel-link" onclick="confirmCancel()">
            <button class="cancel-button" type="button">cancel</button>
        </a>
    </div>
</form>
</body>
</html>